.categories {
	height: 150px;
}

.category {
	width:100%;
	height:140px;
	font-size:32px;
}
.header {
	background-color:#F0F0FF;
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
	font-size:40px;
	color:#8080FF;
	font-family:'Risque', cursive;
}

.searchbox {
	width:100%;
	/*height:30px !important;*/
}

.go {
	width:100%;
	/*height:38px;*/
}

.search {
	margin-top:50px;
}

.camera-icon {
	width:20%;
	height:auto;
	margin-right:10px;
}

.tutorial-category {
	width:100%;
	margin-bottom:5px;
}

.sidebar {
padding:10px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color:#DDDD88;
} 
