html * {
font-family: 'PT Sans';

}


.categories {
	height: 150px;
}

.category {
	width:100%;
	height:140px;
	font-size:32px;
}
.navbar {
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
	font-family:'Share Tech';
}
.navbar .navbar-inner {
	background-image: none;
	background-color: #F0F0FF;
	height: 70px;
}

.navbar .brand {
	margin-top:20px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
	font-size: 50px;
}

.search {
	margin-top:40px;
}

.search .searchbox {
	width:100%;
	height:30px;
	font-size:20px;
}

.search .go {
	width:100%;
	height:40px;
	font-size:20px;
}

.camera-icon {
	width:20%;
	height:auto;
	margin-right:10px;
}

.tutorial-category {
	width:100%;
	height: 200%;
	margin-bottom:5px;
}

.sidebar {
padding:10px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color:#DDDD88;
} 

.related-tutorials {
padding:10px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color:#DDDD88;
}

.boxydiv {
margin-top:-30px;
padding-top:30px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color:#F8F8FF;
}

.donebtn {
	width:100%;
}

#header-icon {
	height: 60px;
	padding: 0px 25px 0px 10px;
	margin: -20px;
}

.tut-category{
}
