html * {
font-family: 'PT Sans';

}


.categories {
	height: 150px;
	margin-left: -50px;
}


.category {
	width:100%;
	height:140px;
	font-size:32px;
}
.navbar {
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
}
.navbar .navbar-inner {
	background-image: none;
	background-color: #E4EDFF;
	height: 70px;
}

.navbar .brand {
	margin-top:20px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
	color: #1A3365;
	font-size: 50px;
	font-family:'Share Tech';
	font-weight: bold;
}

.search {
	margin-top:40px;
	margin-left: -50px;
}

.search .searchbox {
	width:100%;
	height:30px;
	font-size:20px;
}

.search .go {
	width:100%;
	height:40px;
	font-size:20px;
}

.camera-icon {
	width:20%;
	height:auto;
	margin-right:10px;
}

.tutorial-category {
	width:100%;
	height: 200%;
	margin-bottom:5px;
	margin-top:10px;
	height:40px;
}

.sidebar {
margin:10px -10px 10px -50px;
padding:20px;
padding-top: 10px;
background-color:#FFF6E4;
} 

.related-tutorials {
margin:10px -10px 10px 0px;
padding:20px;
padding-top: 10px;
background-color:#FFF6E4;
}

.boxydiv {
margin-top:-30px;
padding-left: 30px;
padding-top:15px;
padding-bottom:40px;
/*background-color:#FAFAFA;*/
}

.bordered {
-moz-border-radius: 15px;
border-radius: 15px;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.donebtn {
	width:100%;
}

#header-icon {
	height: 60px;
	padding: 0px 25px 0px 10px;
	margin: -20px;
}

.btn-icon {
	height: 30px;
	
}

.tut-category{
}

.donebtn{
	font-size: 15px;
	padding: 13px 0px 13px 0px;
	margin-top: 30px;
	height: 55px;
}
